In [1]:
%load_ext sql
%sql mysql+pymysql://app_user:app_password@mysql/app_db
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
%%sql
SELECT * FROM users LIMIT 10;

 * mysql+pymysql://app_user:***@mysql/app_db
10 rows affected.

[('e9703a66-6556-4b48-8a0b-0ace129d7a11', 'Joshua Webster', datetime.date(1983, 5, 15), '208 Ewing Pine\nNorth Dana, MN 35292', 'bboyle@garza-shelton.net', 'gAAAAABpYG1_obtIIQu-E0-RxPoNIviWlaPkrtksG525-Qr1k8Hbk0AbgEDQwtINWDbA_BflGNRs69y03LeDJKggNtSqs_rAyg==', 'gAAAAABpYG1_FpFbqDZHifHrL0HIOS7OlCG4LwKTcYzkdnwacM5AiV3Y_9wInatfRVP-MBdp_ca79-0pEKOKgnOAUZ1jE01NWg==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1997, 12, 12, 0, 3, 28)),
 ('aa246388-104c-44f7-93f4-4b688dc0baff', 'Samantha Hernandez', datetime.date(1996, 9, 24), '17031 Justin Plaza\nPort Kimmouth, MI 12236', 'hannahrios@baker-beasley.com', 'gAAAAABpYG1_bttkSQgdBXjdtQOSB2hsqOvEPoMDjksvRXLFhDJwJLNeuOSdKjBIg9fmsQppSSsRWlgn29v6R26WFTdeRL_xzg==', 'gAAAAABpYG1_NGLdrO4PWHH92tqtZTBl46O1boSOE1aFBlY1gW3nak6JiGFvXr7RMRWx4YEnDU0ZFYneAhkw-kn7l2LTfQWFfA==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1972, 6, 10, 12, 46, 40)),
 ('86af3e4d-6c57-4245-be99-19b2bfb138c0', 'Mr. John Mack PhD', datetime.date(1971, 12, 20), '8328 Ryan Overpass Apt. 083\nTurnerton, TN 97773', 'sethcarney@williams.org', 'gAAAAABpYG1_tet_eIBBsz6vQRLK78DH2VE1xaVafQIBJ5ojeQYmclFM2jcRu9TGxIT856Qa2OSgNzstA65mPfNvsT0FgiSgng==', 'gAAAAABpYG1_1fQPyDxP8WioRjn-ViKL6TzTX3cmDl_fJAXWs-ivru6JRNbwFqW5AFL0EUTDd0WS2TvpBKdtxZk4A3L3rKiMjQ==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2010, 8, 26, 16, 5, 50)),
 ('a610bdb4-8d67-47b0-b6f6-791a8ea22d86', 'Jacqueline Aguilar', datetime.date(1988, 5, 4), '130 Holt Burg\nPort Jacquelineshire, IN 59833', 'corey22@gmail.com', 'gAAAAABpYG1_KDNXPfw5iWajrVJzkkwvu7GChazocA9-eHfUuOpzeqswtURl7ZC62GiOahZZGfj2IKU9Bv1EmoRoEUBLf-Zj-Q==', 'gAAAAABpYG1_oAjOpODng2Gw3nRBtB-HBWQto_NJ9ZRYGTHO-lKPU7jLgm7mu6_e2pfbeF4fbIk_IUHQeZPx3BTi0wgZ7AFM5A==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1970, 8, 29, 13, 57, 2)),
 ('2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8', 'Savannah Jones', None, None, 'brandi64@hotmail.com', 'gAAAAABpYG1_7GsJyzITw8aZVYCJdLoywWtpZQAlMRNlSQTZKvzu8DapcEC4NcsTJaOUd_Xai15UozwUNaa4VHg8N3pFk1bmfQ==', 'gAAAAABpYG1_ZkAD9qJ1sZ78mTxxmt22aANCUJqxODL0m_SGnahXJjoyK2w0XWhFRDDZ19tAjjPv0CxcJ2OFOkB5pzyUOLw7Dg==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1970, 12, 2, 14, 40, 22)),
 ('c9b28796-0bef-429f-ae2f-ca75511ead9e', 'Jacob Allen DVM', None, None, 'deanna74@hotmail.com', 'gAAAAABpYG1_UPCFV9OPDSblYtP_1ygSzJ9L6GDLBpZ_PxA84tCqXF3eCwNn_0impzeH1lHn4yAUsDO27w3NZsLGO-HBsGIukQ==', 'gAAAAABpYG1_z-iNk3lYdtLPydAPSARRsQgTIVNxevoXJne9N915NHUYC15wDVB-FMz2iPEanlOUnW4z5hMwKO-p4lqSxx468A==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2011, 5, 7, 8, 51, 35)),
 ('fbf73dbb-5e99-46e8-af98-dd0c57579f50', 'Yolanda Rivera', None, None, 'rodriguezrobin@hotmail.com', 'gAAAAABpYG1_z-txTxFA1Vhzj9_GDWaCkEwAacPRVoXP2m8qRN1w7Hh2qE5uUf0aMO5gOzZbPkyqr6aHRDg_9d_uo1n3xH5DFQ==', 'gAAAAABpYG1_Ijd2zL3MHQkiETLrRWlTsAvsACMz_aTv0O6GM6bWvVhYnfK_sq3rrpgg6brdf4daQ0FtjJAOj9z72HfdUV2ZBw==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1996, 1, 10, 20, 14, 37)),
 ('c66a739d-b7c8-4df1-abf1-6a43602a0cce', 'Carl Sullivan', None, None, 'david14@morgan.com', 'gAAAAABpYG1_S0EtSW8WMBhu8vGgOiD4Y-FXo8LsYWpBnkfU7GzGyjvHsjzbVuJdaZXlrErTdWju_g8hESdgycZEY3bZZCWKKg==', 'gAAAAABpYG1_ksZG3-BZlUHPlSOaDRcisu4PLB7OGDlNTmqRyBWaevTR-ua_Q2jr9PoWYbfy1WRtWoZuVim_TIxxObdC7a52bg==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1976, 1, 20, 2, 48, 15)),
 ('ab5e71e5-ddb0-4775-bcc2-1dfdbae4a0b0', 'Jessica Duncan', datetime.date(2004, 10, 4), '328 Laura Pine Apt. 662\nPhillipsstad, RI 37881', 'carsonscott@gmail.com', 'gAAAAABpYG1_fjyvegA8rEv0cIp1fQc4BXuxekXqMbTv3MgUdbvgm1x2gAmRLE4kKwAOsw8UXBMkyyy0X1yEBTVV8uTzttFgdQ==', 'gAAAAABpYG1_HMIgw1CpNYShwEtBuS-yFpb-lb-G5iNL88rSLBrKGCXQuiYI0g1HcVhL9h14dzxMrOh099NYnaiYjeRDaghkIw==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2016, 4, 5, 14, 19, 13)),
 ('97f428e7-e845-4bb4-9949-d494820b7147', 'Michael Brown', None, None, 'elizabeththomas@yahoo.com', 'gAAAAABpYG1_U-61xPnWO_w1U3-aP2n6atF-DWLs46NVfWonhD_oVZKkDoOd9cqsdpcvVgUuU3CYcqB3Ac9Lo_NQhrxk8zjUXA==', 'gAAAAABpYG1_SIMJtbwhDTQlbbHJSwOoTgZt4p2VSwFG7c8k3hvL7q_8lm_GmNCecn-syOR9PbPJjsY4PJyNKDO8CX1bzdofAA==', datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(2026, 1, 9, 2, 52, 48), datetime.datetime(1985, 9, 25, 7, 15, 28))]

In [3]:
%%sql
SELECT * FROM jobs_history LIMIT 10;

 * mysql+pymysql://app_user:***@mysql/app_db
10 rows affected.

[('e9703a66-6556-4b48-8a0b-0ace129d7a11', 'Set designer', 0, datetime.date(1996, 12, 26), datetime.date(1997, 10, 2)),
 ('aa246388-104c-44f7-93f4-4b688dc0baff', 'Chief of Staff', 1, datetime.date(1991, 9, 12), datetime.date(2015, 8, 4)),
 ('86af3e4d-6c57-4245-be99-19b2bfb138c0', 'Clinical cytogeneticist', 1, datetime.date(1970, 10, 28), datetime.date(2018, 3, 30)),
 ('a610bdb4-8d67-47b0-b6f6-791a8ea22d86', 'Manufacturing systems engineer', 1, datetime.date(2007, 5, 5), datetime.date(2014, 7, 1)),
 ('2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8', 'Counselling psychologist', 0, datetime.date(1989, 12, 24), None),
 ('2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8', 'Social research officer, government', None, datetime.date(2014, 1, 29), datetime.date(1973, 9, 19)),
 ('c9b28796-0bef-429f-ae2f-ca75511ead9e', 'Cabin crew', 1, datetime.date(2019, 12, 21), datetime.date(1986, 3, 31)),
 ('fbf73dbb-5e99-46e8-af98-dd0c57579f50', 'IT sales professional', 1, datetime.date(2005, 3, 26), datetime.date(1972, 1, 30)),
 ('c66a739d-b7c8-4df1-abf1-6a43602a0cce', 'Physiological scientist', 1, datetime.date(1977, 2, 1), None),
 ('c66a739d-b7c8-4df1-abf1-6a43602a0cce', 'Senior tax professional/tax inspector', None, datetime.date(1977, 10, 20), datetime.date(1981, 4, 13))]

In [3]:
%%sql
SELECT * FROM telephone_numbers LIMIT 10;

 * mysql+pymysql://app_user:***@mysql/app_db
10 rows affected.

[(1, 'e9703a66-6556-4b48-8a0b-0ace129d7a11', '001-640-924-3637x268'),
 (2, 'e9703a66-6556-4b48-8a0b-0ace129d7a11', '001-127-583-8338x85397'),
 (3, 'aa246388-104c-44f7-93f4-4b688dc0baff', '840.808.9845'),
 (4, 'aa246388-104c-44f7-93f4-4b688dc0baff', '001-558-896-0120x701'),
 (5, '86af3e4d-6c57-4245-be99-19b2bfb138c0', '001-672-539-5662x6286'),
 (6, '86af3e4d-6c57-4245-be99-19b2bfb138c0', '310-693-9384'),
 (7, 'a610bdb4-8d67-47b0-b6f6-791a8ea22d86', '+1-098-016-5290x70377'),
 (8, 'a610bdb4-8d67-47b0-b6f6-791a8ea22d86', '+1-348-828-2586x800'),
 (9, '2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8', '(168)847-2979x521'),
 (10, '2bde2981-4bd8-4da0-ab3b-9ff26a4cebd8', '(975)922-1242x44183')]

In [2]:
%%sql
show tables;

 * mysql+pymysql://app_user:***@mysql/app_db
4 rows affected.

[('telephone_numbers',), ('tests',), ('users',), ('users_tb',)]

In [3]:
%%sql
Delete from telephone_numbers;
Delete from jobs_history;
Delete from users;

 * mysql+pymysql://app_user:***@mysql/app_db
266577 rows affected.
133307 rows affected.
100000 rows affected.

[]

In [3]:
%%sql

describe tests;

 * mysql+pymysql://app_user:***@mysql/app_db
9 rows affected.

[('id_key', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('id', 'int', 'YES', '', None, ''),
 ('name', 'varchar(100)', 'YES', '', None, ''),
 ('address', 'varchar(200)', 'YES', '', None, ''),
 ('color', 'varchar(50)', 'YES', '', None, ''),
 ('created_at', 'timestamp', 'YES', '', None, ''),
 ('last_login', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED'),
 ('is_claimed', 'tinyint(1)', 'YES', '', None, ''),
 ('paid_amount', 'decimal(10,0)', 'YES', '', None, '')]